<%= render "home/navigation"%>
<div class="flex flex-row flex-wrap justify-center content-center bg-[#f9f9fe] py-10">
  <div class="w-8/12 bg-white px-20 py-10">
  <div class="text-center mb-4">
    <span class="text-2xl font-semibold text-[#4b4870]">Create Blog</span>
  </div>
  <%= render "form", blog: @blog %>
  </div>
</div>

<%=render "home/footer"%>
