<section class="relative pt-36 lg:pb-10 overflow-hidden bg-black">
  <img class="absolute top-0 left-1/2 transform -translate-x-1/2" src="gradia-assets/elements/cta/radial.png" alt="">
  <div class="relative z-10 container mx-auto px-4 mb-12">
    <div class="flex flex-wrap -m-6">
      <div class="w-full lg:w-1/2 p-6">
        <div class="lg:max-w-xl">
          <h2 class="mb-6 font-heading font-bold text-6xl sm:text-7xl text-white">Get maximum results from all your projects.</h2>
          <p class="mb-20 text-base text-white">Amet minim mollit non deserunt ullamco est sit aliqua.</p>
          <button class="mb-11 font-heading font-semibold w-full lg:w-auto p-5 text-xs text-white bg-blue-600 hover:bg-blue-700 uppercase rounded-md tracking-px">Create blog</button>
        </div>
      </div>
    </div>
  </div>
  <div class="pl-4 lg:w-1/2 lg:absolute lg:bottom-0 lg:right-0">
    <img class="relative z-10 ml-auto transform hover:-translate-x-28 transition ease-in-out duration-500" src="gradia-assets/images/cta/screen.png" alt="">
  </div>
</section>