
<nav class="bg-white border-gray-200 dark:bg-gray-900">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl px-4 md:px-6 py-2.5">
         <%= link_to "Home" ,root_path,class:"text-xl font-medium text-[#4b4870] hover:text-gray-900"%>
            <span class="self-center text-2xl text-[#4b4870] font-semibold whitespace-nowrap dark:text-white">Blogger</span>
        
    </div>
</nav>
